<div class="wrapper">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">Modal Form</div>
            <div class="card-body text-center">
                <h5 class="card-title">Add Doctor Specialization</h5>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add</button>
                <div class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Signin Modal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-start">
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <form accept-charset="utf-8">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" placeholder="Email Address" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" name="password" placeholder="Password" class="form-control">
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Signin</button>
                            </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">Manage Doctor Specialization</div>
            <div class="card-body">
                <p class="card-title"></p>
                <table class="table table-hover" id="dataTables-example" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Specialization</th>
                            <th>Creation Date	</th>
                            <th>Updation Date	</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Dakota Rice</td>
                            <td>$36,738</td>
                            <td>United States</td>
                            <td>Oud-Turnhout</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>
                            <td>Sinaai-Waas</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Sage Rodriguez</td>
                            <td>$56,142</td>
                            <td>Netherlands</td>
                            <td>Baileux</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Philip Chaney</td>
                            <td>$38,735</td>
                            <td>Korea, South</td>
                            <td>Overland Park</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Doris Greene</td>
                            <td>$63,542</td>
                            <td>Malawi</td>
                            <td>Feldkirchen in Kärnten</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Mason Porter</td>
                            <td>$78,615</td>
                            <td>Chile</td>
                            <td>Gloucester</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Allisa Sanches</td>
                            <td>$28,615</td>
                            <td>Columbia</td>
                            <td>Nigger</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Peter Benhams</td>
                            <td>$33,215</td>
                            <td>Ecuador</td>
                            <td>Holster</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Bramson Adams</td>
                            <td>$109,222</td>
                            <td>Philippines</td>
                            <td>Camp John</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Jessie Williams</td>
                            <td>$55,123</td>
                            <td>Malaysia</td>
                            <td>Glosterine</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>